$bottom-nav-btn-min-width: 10px !default; //반응형 디자인 바텀네비 너비 최소10px로 지정해야 ..
$bottom-nav-btn-max-width: 1000px !default; //영역 최대한 다가져감
$tabs-item-min-width: 10px !default; //반응형 디자인 텝너비 최소10px로 지정해야 ..
$tabs-item-max-width: 1000px !default; //영역 최대한 다가져감
